*{
	margin:0;
	padding:0;
}
.navbar.navbar-default{

	background-color:white;

}
a:hover{
	font-weight:bolder;
	color:white;
}
.navbar-brand{
	font-weight: bolder;
}
#container .row .col-md-offset-2 .col-md-8 ul li{
	display:inline-block;
}
.list{
	display:inline-block;
	float:left;
}
p{
	text-align:center;
}
button{
	padding:5px;
}
#wrapper{
	padding-left:30px;
	padding-right:35px;
	padding-top:20px;
	border:solid gray 1px;
}
#container
{
	margin-top:100px;
}
h3
{
	color:gray;
	padding-bottom :50px;
	margin-bottom:50px;
}
#wishlist
{
	margin-left:35px;
	padding:10px;
}