s*{
	margin:0;
	padding:0;
}

.list{
	display:inline-block;
	float:left;
	padding:15px;
	margin:20px;
}
p{
	text-align:center;
}
#wrapper{
	padding-left:30px;
	padding-right:35px;
	padding-top:20px;
	border:solid gray 1px;
}
#container
{
	margin-top:100px;
}
#wishlist
{
	margin-left:35px;
	padding:10px;
}